html {
  height: 100%;
}

body {
  font-family: 'Roboto';
  background-color: #1f2937; 
  height: 100%;
}

ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  /* padding: 0 15%; */
}

.header {
  display: flex;
  flex-grow: 0;
  align-items: center;
  padding: 20px 20% 0 20%;
}

.header .right {
  display: flex;
  flex-grow: 1;
}

.header-links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 10px;
}

.header .left {
  display: flex;
  flex-grow: 0;
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.hero-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero-secondary-text {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0;
}

button.sign-up {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  border-style: none;
  padding: 8px 24px;
  max-width: 100px;
  font-weight: bold;
}

.first-block {
  display: flex;
  gap: 50px;
  padding: 0 20%;
}

.first-block .left {
  display: flex;
  flex-grow: 1;
}

.left div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}

.first-block .right {
  display: flex;
  flex-grow: 1;
}

.banner-img {
  max-width: 100%;
  max-height: auto;
  box-sizing: border-box;
  padding: 50px 0;
}

.second-block {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 20% 80px 20%;
}

.gallery-header-text {
  display: flex;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  text-align: center;;
}

.gallery-item img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 8px;
}

.gallery-item p {
  max-width: 150px;;
}

.third-block {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 80px 25% 70px 25%;
}

.quote-text {
  display: flex;
  color: #1f2937;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}

.quote-text p {
  margin: 0;
}

.quote-author {
  display: flex;
  justify-content: right;
  font-size: 20px;
  font-weight: bold;
}

.fourth-block {
  display: flex;
  flex-grow: 1;
}

.footer {
  display: flex;
  flex-grow: 0;
}